.intestazione
{
display: flex;
justify-content: space-between;
align-items: center;
margin: 0px;
border: none;
background-color: #023E8A;}

.logo {
		 margin-left: 12px;}

.lista1 { display:flex;
			list-style-type:none;
			gap: 12px;
			color: white;
			margin-right:12px;}
img {
   	max-height: 100%;
		max-height: 100%;
		border-radius: 10%;}
		
h2 {margin-bottom: 2px;}		
p  {margin-top: 2px;}

.titolo {margin-bottom: 15px;}
		
.noi2 {
		 width: 200px;
		 height: 230px;
		margin-right: 10px;
		}

.parte1 {
			background-color: rgb(83 144 217);
			color: #495057;
			display: flex;
			justify-content: space-between;
		align-items:center;
			gap : 150px;
			height: 300px;}
			
.Home {background-color: #ADB5BD;
	display: flex;
	flex-direction: column;
	margin:20px;
	padding: 15px;
	height:200px;
	border-radius: 25px;
	margin-left: 100px;
	padding-left: 25px;}

button { width: 100px;
}

.parte2 {background-color: #ADB5BD; color: #495057;
margin: none;
padding: 10px;}

.Itinerari {display: flex;
flex-direction: row;
justify-content: space-around;}

h1 {text-align:Center;}

.Thailandia, .Marocco, .Mauritius, .Canarie  {
		display:flex;
		flex-direction: column;
		width: 210px; text-align: Center
		;}



.Parte3 {
		color:  #495057;
		background-color: #dee2e6;
		
		padding: 150px;
		
}
.aforisma {
	font-family: Helvetica, sans-serif;
	font-size: 36px;
	font-style: italic;
	text-align: center;
	padding-bottom: 0px;
	margin-bottom: 3px;
}
figcaption {font-family: Helvetica, sans-serif;
	 padding-top: 0px;
	 padding-right: 250px;
	 text-align: end;}

.parte4 {
	background-color: #023E8A;
	margin: 60px;
	padding: 20px;
	display: flex;
	border-radius: 5%;
	align-items: center;
	justify-content: space-around;
	gap: 15px
	margin-bottom: 0px;
	
	
}
.donazione {
	color: white;
	display: flex;
	font-size: 32px;
	flex-direction: column;
}

.Click
{ display: flex;
flex-direction: column;
gap: 10px;
list-style-type:none;
}

h3 {margin-bottom:3px;}

body { background-color: #dee2e6;
padding: 0px;

}
.footed {background-color: #023E8A;
			color: white;
			font-size: 20px;
			text-align: center;}
.tutto { display: flex;
margin-bottom:Opx;
	min-height: 100vh;
			flex-direction: column;
			flex: 1;1,auto;}